body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.section {
    width: 45%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

header {
    text-align: center;

}

footer {
    text-align: center;
    background-color: red;
}

header p {
    font-style: italic;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.button:hover {
    background-color: #3a8a3c;
}

.display {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 5px;
}